<div *ngIf="website != null" class="webclient">
    <header>
        <div *ngIf="subBanner != null && subBanner.length > 0" class="top-banner">
            <img src="{{subBanner[0].Image | hostImageClient}}" alt="">
        </div>
        <div class="header-top-search">
            <div class="container">
                <div class="header-logo">
                    <a routerLink="/">
                        <img src="{{website.Logo | hostImageClient}}" alt="">
                    </a>
                </div>
                <div>
                    <nz-input-group [nzSuffix]="suffixTemplateInfo" class="input-search">
                        <input (keyup.enter)="search()" [(ngModel)]="keySearch" type="text" nz-input
                            placeholder="Tìm kiếm..." />
                    </nz-input-group>
                    <ng-template #suffixTemplateInfo>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>
                <div class="header-user">
                    <a routerLink="/gio-hang">
                        <nz-badge [nzCount]="getQtyItemInCart">
                            <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
                        </nz-badge>
                    </a>
                    <a routerLink="/profile">
                        <i nz-icon nzType="user" nzTheme="outline"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="container">
                <ul nz-menu nzMode="horizontal">
                    <ng-container *ngFor="let menu of mainMenus">
                        <ng-container *ngIf="menu.SubMenus == null || menu.SubMenus.length == 0; else elseTemplateMenu">
                            <li nz-menu-item>
                                <a routerLink="/{{menu.Type=='bai-viet'?'danh-muc-bai-viet/':''}}{{menu.Alias}}"
                                    rel="noopener noreferrer">
                                    {{menu.Name}}
                                </a>
                            </li>
                        </ng-container>
                        <ng-template #elseTemplateMenu>
                            <li nz-submenu nzTitle="{{menu.Name}}">
                                <ul>
                                    <li nz-menu-item *ngFor="let item of menu.SubMenus">
                                        <a routerLink="/{{item.Alias}}">
                                            {{item.Name}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ng-template>
                    </ng-container>
                </ul>
            </div>
        </div>
    </header>
    <div>
        <router-outlet></router-outlet>
    </div>
    <footer>
        <div class="footer-top">
            <div class="container">
                <div nz-row>
                    <div nz-col nzMd="8" nzXs="24" nzSpan="8">
                        <img src="{{website.Logo | hostImageClient}}">
                        <div class="mg-t">
                            <div [innerHTML]="website.Location | safe: 'html'"> </div>
                        </div>
                    </div>
                    <div nz-col nzMd="4" nzXs="24" nzSpan="4">
                        <h3>Thông tin</h3>
                        <ng-container *ngFor="let item of subMenus">
                            <p *ngIf="item.Articles != null && item.Articles.length > 0">
                                <a routerLink="/thong-tin/{{item.Articles[0].Alias}}">{{item.Name}}</a>
                            </p>
                        </ng-container>
                    </div>
                    <div nz-col nzMd="6" nzXs="24" nzSpan="6">
                        <h3>Thông tin liên hệ</h3>
                        <p>Địa chỉ: {{website.Address}}</p>
                        <p>Email: {{website.Email}}</p>
                        <p>Số điện thoại: {{website.PhoneNumber}}</p>
                    </div>
                    <div nz-col nzMd="6" nzXs="24" nzSpan="6">
                        <h3>Đăng ký nhận tin</h3>
                        <div>
                            <form nz-form [formGroup]="formRegistration" (ngSubmit)="submitRegistration()">
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Không được để trống!">
                                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                            <input formControlName="Email" type="text" nz-input placeholder="Email" />
                                        </nz-input-group>
                                        <ng-template #suffixIconButton>
                                            <button type="submit" nz-button nzType="primary" nzSearch>
                                                Đăng ký
                                            </button>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                        <div class="social">
                            <a href="{{website.Facebook}}" target="_blank">
                                <i nz-icon nzType="facebook" nzTheme="outline"></i>
                            </a>
                            <a href="{{website.Youtube}}" target="_blank">
                                <i nz-icon nzType="youtube" nzTheme="outline"></i>
                            </a>
                            <a href="mailto:{{website.Email}}">
                                <i nz-icon nzType="mail" nzTheme="outline"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>{{website.Copyright}}</p>
            </div>
        </div>
    </footer>
    <nz-back-top></nz-back-top>
</div>