<nz-breadcrumb>
    <nz-breadcrumb-item>
        <i nz-icon nzType="home"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        Menu phụ
    </nz-breadcrumb-item>
</nz-breadcrumb>

<div nz-row class="mg-t">
    <div nz-col nzSpan="10">
        <nz-form-item>
            <nz-form-label>Từ khóa tìm kiếm</nz-form-label>
            <nz-form-control>
                <input (keyup.enter)="getData()" [(ngModel)]="filter.keySearch" type="text" nz-input nzSize="small"
                    placeholder="Mã đơn hàng, tên KH" />
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col nzSpan="14">
        <nz-form-item>
            <nz-form-control>
                <button (click)="getData()" nz-button nzSize="small" nzType="primary">
                    <i nz-icon nzType="search" nzTheme="outline"></i>
                    Tìm kiếm
                </button>
                <button (click)="addNew()" nz-button nzSize="small" nzType="primary">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    Thêm mới
                </button>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div nz-col nzSpan="24">
        <nz-table #tblData [nzData]="datas">
            <thead>
                <tr>
                    <th>Tên menu</th>
                    <th>Danh mục cha</th>
                    <th class="text-center" style="width:140px">Thứ tự hiển thị</th>
                    <th class="text-center" style="width:140px">Trạng thái hiển thị</th>
                    <th class="text-center" style="width:140px">Hiển thị trang chủ</th>
                    <th style="width:160px"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of tblData.data">
                    <td>{{ data.Name }}</td>
                    <td>{{ data.PMenu?.Name }}</td>
                    <td class="text-center">{{ data.Index }}</td>
                    <td class="text-center">
                        <i *ngIf="data.Active" nz-icon nzType="check" nzTheme="outline"></i>
                    </td>
                    <td class="text-center">
                        <i *ngIf="data.ShowHomePage" nz-icon nzType="check" nzTheme="outline"></i>
                    </td>
                    <td class="no-wrap">
                        <button (click)="showDetail(data)" nz-button nzSize="small" class="mg-r">
                            Xem chi tiết
                        </button>
                        <button nz-popconfirm nzPopconfirmTitle="Xác nhận xóa?" (nzOnConfirm)="delete(data)"
                            nzPopconfirmPlacement="topRight" nz-button nzDanger nzType="primary" nzSize="small">
                            Xóa
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<app-sub-menu-detail #frmDetail (onSubmit)="onSubmit($event)"></app-sub-menu-detail>
<ngx-spinner></ngx-spinner>