<div *ngIf="menu != null" class="container">
    <div class="box-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/">Trang chủ</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                {{menu.Name}}
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div>
        <div nz-row>
            <div nz-col nzLg="6" nzMd="8" nzSm="12" nzXs="24" nzSpan="6" *ngFor="let article of menu.Articles" class="mg-b">
                <app-article-template [article]="article"></app-article-template>
            </div>
            <div nz-col nzSpan="24" class="filter-more">
                <button (click)="showMore()" type="button" nz-button nzType="primary" [nzLoading]="nzLoading">Xem
                    thêm</button>
            </div>
        </div>
    </div>
</div>