<div class="container">
    <div class="box-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/">Trang chủ</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Giỏ hàng
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div style="min-height: 250px;max-width: 600px;margin: 0 auto;">
        <nz-result nzStatus="success" nzTitle="Đặt hàng thành công"
            nzSubTitle="Cảm ơn quý khách hàng đã đặt hàng trên hệ thống DEcommerce.
            Chúng tôi sẽ liên hệ và gửi sản phẩm tới quý khách hàng trong thời gian sớm nhất. Xin chân thành cảm ơn quý khách!">
            <div nz-result-extra>
                <a routerLink="/" nz-button nzType="primary">Quay lại trang chủ</a>
            </div>
        </nz-result>
    </div>
</div>