<div>
    <div class="box-auth">
        <div>
            <h4>Quên mật khẩu</h4>
        </div>
        <form nz-form [formGroup]="formData" class="login-form" (ngSubmit)="onSubmit()">
            <div class="mg-b">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Không được để trống!">
                        <nz-input-group nzPrefixIcon="mail">
                            <input type="text" nz-input formControlName="Email" placeholder="Email" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="mg-b text-center">
                <button type="submit" nz-button nzType="primary" [nzLoading]="nzLoading">Gửi yêu cầu</button>
            </div>
            <div>
                <a routerLink="/dang-nhap">
                    <i nz-icon nzType="left" nzTheme="outline"></i>
                    Quay lại đăng nhập
                </a>
            </div>
        </form>
    </div>
</div>