<div *ngIf="article != null" class="container">
    <div class="box-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/">Trang chủ</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                {{article.Title}}
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div>
        <div nz-row>
            <div nz-col nzSpan="24">
                <div>
                    <small>Ngày đăng: {{article.Created | date:'HH:mm dd-MM-yyyy'}}</small>
                </div>
                <h1>{{article.Title}}</h1>
                <div>
                    <div [innerHTML]="article.ShortDescription"> </div>
                </div>
                <div>
                    <div [innerHTML]="article.Description"> </div>
                </div>
            </div>
        </div>
    </div>
</div>